/* services */
.services_title {
    width: 125px;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    color: #5AAAD2;
}

.services_icons {
    width: 67px;
    height: 60px;
}

.services_name {
    width: 70px;
    height: 29px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    /* identical to box height */


    color: #252525;
}

.services_description {
    width: 250px;
    height: 47px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    text-align: center;

    color: #000000;
}

.pic_background {
    position: absolute;
    width: 457px;
    height: 457px;
    background: linear-gradient(121.81deg, #474747 0%, #000000 100%);
    border-radius: 0px 40px 40px 0px;
    display: none;
}

.services_content {
    width: 602px;
    height: 200px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    color: #000000;
}

.divider {
    width: 100%;
    height: 357px;
    margin-top: 70px;
    background: linear-gradient(121.81deg, #474747 0%, #000000 100%);
}

/* Header */
a {
    color: #FFFFFF;
    text-decoration: none
}

a:hover {
    color: #FFFFFF;
    font-weight: bold
}

.nav--icon {
    width: 142px;
    height: 119px;
    margin-left: 225px;
    margin-top: 37px;
    border-radius: 5px;
    /* position: absolute; */
    /* width: 640px;
    height: 156px;
    left: 0px;
    top: 0px; */

}

.header-title {
    /* position: absolute; */
    width: 445px;
    height: 48px;
    margin-left: 73px;
    margin-top: 50px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;

    color: #000000;

}

.header-description {
    /* position: absolute; */
    width: 445px;
    height: 197px;
    margin-left: 73px;
    margin-top: 50px;
    color: #000000;

}

.image-icon {

    /* position: absolute; */
    width: 373px;
    height: 373px;
    margin-left: -115px;
    margin-top: 65px;
    display: none;

}

.mobile_nav {
    width: 100%;
    height: 30px;
    visibility: visible;
    display: flex;
}



.rectangle {
    /* position: absolute; */
    width: 640px;
    height: 504px;
    margin-left: 15%;
    margin-top: 0px;

    background: linear-gradient(121.81deg, #474747 0%, #000000 100%);
    border-radius: 0px;
    display: none;
}

.nav_item {
    width: 57px;
    height: 24px;
    margin-top: 55px;
}

.nav--home {
    /* position: absolute; */

    /* margin-left: 50px; */
    /* */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    color: white;

}

.divider_text1 {
    /* margin-left: 23.75%;
    margin-right: 23.75%; */
    /* margin-top: 13.73%; */
    /* margin-bottom: 58.98%; */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    text-align: center;

    color: #FFFFFF;
}

.divider_text2 {
    width: 677px;
    height: 48px;
    margin-left: 301px;
    /* margin-top: 1573px; */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    text-align: center;

    color: #FFFFFF;
}

.circle {
    width: 77.94px;
    height: 78px;
    margin-top: 90px;
    /* margin-bottom: 3.7%; */
    background: linear-gradient(209.05deg, #AAE1F2 13.22%, #EAB1F7 86.67%);
    border-radius: 50px 50px 50px 50px;
}

.arrow {
    width: 33.12px;
    height: 18.77px;
    margin-left: 9.94px;
    margin-top: 17.67px;

    background: #FFFFFF;
}

/* About */
.about {
    width: 100%;
    height: 3580px;
    /* margin-left: -1px;
    margin-top: 1761px; */

    background: #474747;
}

.about_title {
    width: 553px;
    height: 44px;
    margin-left: 47px;
    margin-top: 200px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;
}

.about_par {
    width: 463px;
    height: 238px;
    margin-left: 73px;
    margin-top: 70px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    /* or 167% */

    text-align: center;

    color: #FFFFFF;

}

.about_image {
    width: 800px;
    margin-top: 60px;
    height: 608px;
    /* left: 581px;
    top: 1773px; */
}

.about_background {
    width: 797px;
    height: 797px;
    margin-left: -50%;
    margin-top: -280px;
    background: linear-gradient(209.05deg, rgba(170, 225, 242, 0.1) 13.22%, rgba(234, 177, 247, 0.1) 86.67%);
    border-radius: 50%;
}

/*  */