/* services */
.services_title {
    width: 125px;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    /* text-align: center; */

    color: #5AAAD2;
}

.services_icons {
    width: 67px;
    height: 60px;
}

.services_name {
    width: 70px;
    height: 29px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    /* identical to box height */


    color: #252525;
}

.services_description {
    width: 250px;
    height: 47px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    text-align: center;

    color: #000000;
}

.pic_background {
    position: absolute;
    width: 30%;
    height: 457px;
    background: linear-gradient(121.81deg, #474747 0%, #000000 100%);
    border-radius: 0px 40px 40px 0px;
}

.picture_background {
    width: 812px;
    height: 609px;
    left: -9px;
    top: 2529px;
    background: linear-gradient(121.81deg, #474747 0%, #000000 100%);
    border-radius: 0px 100px 100px 0px;
}



.services_content {
    width: 55%;
    height: 200px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    color: #000000;
}

.divider {
    width: 100%;
    height: 357px;
    margin-top: 70px;
    background: linear-gradient(121.81deg, #474747 0%, #000000 100%);
}

/* Header */
a {
    color: #FFFFFF;
    text-decoration: none
}

a:hover {
    color: #FFFFFF;
    font-weight: bold
}

.nav--icon {
    width: 142px;
    height: 119px;
    margin-left: 225px;
    margin-top: 37px;
    border-radius: 5px;
    /* position: absolute; */
    /* width: 640px;
    height: 156px;
    left: 0px;
    top: 0px; */

}

.mobile_nav {
    display: none;
}

.header-title {
    /* position: absolute; */
    width: 445px;
    height: 48px;
    margin-left: 73px;
    margin-top: 50px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;

    color: #000000;

}

.header-description {
    /* position: absolute; */
    width: 445px;
    height: 197px;
    margin-left: 73px;
    margin-top: 50px;
    color: #000000;

}

.image-icon {

    /* position: absolute; */
    width: 373px;
    height: 373px;
    margin-left: -115px;
    margin-top: 65px;

}

.header_background {
    /* position: absolute; */
    /* width: 575px; */
    width: 100%;
    height: 504px;
    /* margin-left: 25%; */
    margin-top: 0px;

    background: linear-gradient(121.81deg, #474747 0%, #000000 100%);
    border-radius: 0px;
}

.nav_item {
    width: 57px;
    height: 24px;
    margin-top: 55px;
}

.nav--home {
    /* position: absolute; */

    /* margin-left: 50px; */
    /* */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    color: white;

}

.divider_text1 {
    /* margin-left: 23.75%;
    margin-right: 23.75%; */
    /* margin-top: 13.73%; */
    /* margin-bottom: 58.98%; */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    text-align: center;

    color: #FFFFFF;
}

.divider_text2 {
    width: 677px;
    height: 48px;
    margin-left: 301px;
    /* margin-top: 1573px; */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    text-align: center;

    color: #FFFFFF;
}

.circle {
    width: 77.94px;
    height: 78px;
    margin-top: 90px;
    /* margin-bottom: 3.7%; */
    background: linear-gradient(209.05deg, #AAE1F2 13.22%, #EAB1F7 86.67%);
    border-radius: 50px 50px 50px 50px;

}

.arrow {
    width: 33.12px;
    height: 18.77px;
    margin-left: 9.94px;
    margin-top: 17.67px;

    background: #FFFFFF;
}

/* About */
.about {
    width: 100%;
    height: 3580px;
    /* margin-left: -1px;
    margin-top: 1761px; */

    background: #474747;
}

.about_title {
    width: 553px;
    height: 44px;
    margin-left: 47px;
    margin-top: 200px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;
}

.about_par {
    width: 463px;
    height: 238px;
    margin-left: 73px;
    margin-top: 70px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    /* or 167% */

    text-align: center;

    color: #FFFFFF;

}

.about_image {
    width: 800px;
    margin-top: 60px;
    height: 608px;
    /* left: 581px;
    top: 1773px; */
}

.about_background {
    width: 797px;
    height: 797px;
    margin-left: -50%;
    margin-top: -280px;
    background: linear-gradient(209.05deg, rgba(170, 225, 242, 0.1) 13.22%, rgba(234, 177, 247, 0.1) 86.67%);
    border-radius: 50%;
}


/*  */
/* @media only screen and (max-width: 600px) {
    body {
        background-color: lightblue;
    }
} */


.barnding_description1 {
    width: 526px;
    height: 194px;
    left: 641px;
    top: 2640px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    color: #FFFFFF;
    margin-top: 110px;
    margin-left: 230px;
}

.barnding_description2 {
    width: 526px;
    height: 210px;
    left: 634px;
    top: 2876px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    color: #FFFFFF;
    margin-top: 45px;
    margin-left: 230px;
}


.feature {
    margin-top: 100px;

}

.feature_title {
    width: 409px;
    height: 122px;
    left: 166px;
    top: 3290px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    text-align: center;

    color: #5AAAD2;
}

.feature_par {
    width: 540px;
    height: 210px;
    left: 634px;
    top: 2876px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    color: #FFFFFF;
    margin-top: -91px;
}

.feature_background {
    width: 1602px;
    height: 1602px;
    left: 832px;
    top: 3108px;

    background: linear-gradient(209.05deg, rgba(170, 225, 242, 0.3) 13.22%, rgba(234, 177, 247, 0.3) 86.67%);
    filter: blur(50px);
}


.breaker {
    margin-top: 100px;

}


.breaker_background {
    width: 100%;
    height: 369px;
    left: 1329px;
    top: 3850px;

    background: linear-gradient(121.81deg, #474747 0%, #000000 100%);
    border-radius: 0px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}




.breaker_par {
    width: 471px;
    height: 174px;
    left: 673px;
    top: 3968px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    color: #FFFFFF;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    margin-top: 100px;
    margin-left: -500px;
}

.breaker_pic {
    transform: matrix(-1, 0, 0, 1, 0, 0);
    margin-left: 900px;
    margin-top: -80px;
}


.contact_title {
    width: 186px;
    height: 34px;
    left: 842px;
    top: 4835px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 34px;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;


}





.contact_name {
    width: 290px;
    height: 45.67px;
    left: 842px;
    top: 4920px;

    background: #FFFFFF;
    border-radius: 36.25px;
    margin-bottom: 20px;
}

.contact_email {
    width: 290px;
    height: 45.67px;
    left: 842px;
    top: 4990.33px;

    background: #FFFFFF;
    border-radius: 36.25px;
    margin-bottom: 20px
}

.contact_text {
    width: 290px;
    height: 115.28px;
    left: 842px;
    top: 5060.65px;

    background: #FFFFFF;
    border-radius: 12px;
    margin-bottom: 20px
}

.contact_button {
    width: 101px;
    height: 35.49px;
    left: 1031px;
    top: 5214px;

    background: #FFFFFF;
    border-radius: 34.1216px;
    border: none;
    margin-left: 190px
}

.button_title {
    width: 49px;
    height: 23px;
    left: 1056.93px;
    top: 5220.14px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 19.1081px;
    line-height: 23px;
    text-align: center;

    color: #7149B6;
}

.footer_background {
    width: 100%;
    height: 269px;
    left: 0px;
    top: 5341px;

    background: #252525;
}

.footer_follow {
    width: 108px;
    height: 22px;
    left: 425px;
    top: 5408px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;
    margin-top: 50px;
}

.footer_contact {
    width: 70px;
    height: 22px;
    left: 734px;
    top: 5396px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;
    margin-top: 50px;
}

.footer_address {
    width: 138px;
    height: 65px;
    left: 734px;
    top: 5442px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;

    color: #FFFFFF;
    margin-bottom: 0;
    margin-top: 0;
    margin: 0;
}

.footer_available {
    width: 161px;
    height: 33px;
    left: 1031px;
    top: 5396px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;

    color: #FFFFFF;
    margin-top: 50px;
}